@font-face {
  font-family: 'Alagard';
  src: url('../fonts/alagard.ttf') format('truetype');
}

.fight-screen-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('/images/backgroundFS.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-container-fs {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1400px;
  align-items: center;
}

.character-fs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  text-align: center;
  padding: 50px;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.character .energy {
  margin-bottom: 10px;

}



.character-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  max-width: 400px;
}

.hearts {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 5px;
}

.heart {
  width: 80px;
  height: 80px;
  margin: 0 5px;
  object-fit: cover;
}

.heart.filled {
  opacity: 1;
}

.heart.empty {
  opacity: 0;
}

.stats-energy {
  display: flex;
  width: 100%;
}

.P1stats {
  width: 73%;
  text-align: left;
  font-size: 24px;
  line-height: 1.5;
  color: white;
  background: linear-gradient(to right, rgba(169, 145, 123, 1), rgba(205, 127, 50, 0));
  border-radius: 10px 0 0 0;
  margin-left: 35px;
  padding-left: 10px;
  font-family: 'Alagard';
}

.P2stats {
  width: 73%;
  text-align: right;
  font-size: 24px;
  line-height: 1.5;
  color: white;
  background: linear-gradient(to left, rgba(169, 145, 123, 1), rgba(205, 127, 50, 0));
  border-radius: 0 10px 0 0;
  padding-right: 10px;
  font-family: 'Alagard';
}

.P1energy,
.P2energy {
  color: white;
  display: inline-block;
  font-size: 64px;
  white-space: nowrap;
  text-align: center;
  line-height: 1;
  padding: 10px;
  width: 20%;
  font-family: 'Alagard';
}

.fighting-for-text {
  color: white;
  position: absolute;
  top: 110px;
  text-align: center;
  font-size: 40px;
  font-family: 'Alagard';
}

.randomStat {
  position: absolute;
  top: 110px;
}

.victory-message {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  font-family: 'Alagard';
}

.mid-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}



.button-icon-sword {
  width: 100px;
  height: 100px;
  background-image: url('/images/SwordIcon.png');
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flipped-image {
  transform: scaleX(-1);
}

.badge-image {
  background-size: cover;
  height: 250px;
  width: 250px;
}

.button-container2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 20px;
  right: 20px;
  gap: 0px;
  z-index: 10;
}

.back-button {
  padding: 0.325rem 0.5rem;
  font-size: 1.20rem;
  background-color: rgba(0, 0, 0, 0.329);
  color: #fff;
  border-radius: 5px;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.heart.flicker {
  animation: flicker 0.2s infinite;
}

.fade-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  transition: opacity 0.5s ease;
  /* Controla la duración del fade-in/out */
  z-index: 9999;
  /* Asegura que esté por encima de todo */
  pointer-events: none;
  /* No bloquea la interacción */
}

.fade-overlay.visible {
  opacity: 1;
}